:root {
    --primary-color: #f8f8f8;
    --secondary-color: #f8f8f8;
    --text-color: #333;
    --dark-text-color: #333;
    --light-text-color: #555;
    --white: #fff;
    --grey: #ddd;
    --hover-bg-color: #f8f8f8;
    --header-bg-color: #fff;
    --button-hover-bg-color: #028a3d;
    --navbar-hover-color: #028a3d;
    --search-button-color: #f5671a;
    --search-icon-color: #fff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--primary-color);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center input {
    width: 70%;
    padding: 10px 15px;
    border-radius: 25px 0 0 25px;
    border: 1px solid var(--grey);
    border-right: none;
    outline: none;
    font-size: 16px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-left img.logo {
    height: 130px;
    margin-right: 20px;
}

.header-left input {
    width: 300px;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--grey);
}

.header-left button {
    padding: 10px 20px;
    border-radius: 0 25px 25px 0;
    border: 1px solid var(--grey);
    border-left: none;
    background-color: var(--search-button-color);
    color: var(--search-icon-color);
    cursor: pointer;
    font-size: 16px;
}

.header-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: #666;
}

.header-right .header-icon {
    background: none;
    border: none;
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    color: #666;
}

.header-right .header-icon img {
    height: 24px;
}

.announcement-bar {
    background-color: var(--announcement-bg-color);
    text-align: center;
    padding: 10px 0;
    color: var(--announcement-text-color);
    font-size: 14px;
}


.navbar {
    background-color: var(--white);
    border-bottom: 1px solid var(--grey);
    position: relative;
    overflow-x: auto; /* מאפשר גלילה אופקית */
    white-space: nowrap; /* מניעת שבירת שורה */
    scrollbar-width: none; /* הסתרת פס הגלילה ב-Firefox */

}
.navbar::-webkit-scrollbar {
    display: none; /* הסתרת פס הגלילה ב-Chrome, Safari, Opera */
}

.navbar ul {
    display: inline-flex; /* שינוי לתצוגה אופקית */
    list-style: none;
    justify-content: flex-start; /* יישור לתחילת השורה */
    margin: 0;
    padding: 10px 0;
}

.navbar ul li {
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block; /* יישור בשורה אחת */
}

.navbar ul li a {
    color: var(--dark-text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}










.navbar .categories-toggle {
    display: none;
    background-color: var(--search-button-color);
    color: var(--search-icon-color);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 20px;
}
    

.navbar ul li:hover {
    background-color: var(--hover-bg-color);
}

.navbar ul li a:hover {
    color: var(--navbar-hover-color);
}

nav ul li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    color: var(--primary-color);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

nav ul li:hover .sub-menu {
    display: block;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

main {
    padding: 30px;
}

.product {
    display: inline-block;
    width: 23%;
    margin: 10px;
    padding: 20px;
    border: 1px solid var(--grey);
    border-radius: 8px;
    background-color: var(--white);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.product h2 {
    font-size: 1.2em;
    margin: 15px 0;
    color: var(--text-color);
    text-align: center;
}

.product p {
    margin: 10px 0;
    color: var(--light-text-color);
    text-align: center;
}

.product button {
    /* background-color: var(---coslor); */
   
        background-color: #028a3d; /* Green */
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        /* transition: background-color 0.3s, transform 0.3s; Added transform for animation */
   
    

    /* color: var(--white); */
    /* border: none; */
    /* padding: 10px 20px; */
    /* border-radius: 5px; */
    /* cursor: pointer; */
    /* transition: background-color 0.3s; */
}

.product button:hover {
        background-color: #026934; /* Darker green for hover */
        transform: scale(1.05); /* Slight zoom effect on hover */
    
}

.heart-button {
    background: var(--white);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 24px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 5px;
}

.heart-button.filled {
    background-color: var(--primary-color);
    color: var(--white);
}

.cart-item {
    border: 1px solid var(--grey);
    padding: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 4px;
}

.cart-item h2 {
    font-size: 1em;
    margin: 0;
    flex: 1;
    color: var(--text-color);
    text-align: center;
}

.cart-item p {
    margin: 5px 0;
    color: var(--light-text-color);
    text-align: center;
}

.cart-item input[type="number"] {
    width: 50px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 4px;
}

.cart-total {
    text-align: right;
    margin: 20px 0;
}

footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo .logo {
    width: 100px;
    margin-bottom: 10px;
}

.download-button {
    background-color: var(--search-button-color);
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.footer-column {
    margin-right: 20px;
    flex: 1;
    min-width: 150px;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: black;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-social a {
    margin-right: 10px;
}

.footer-social img {
    width: 20px;
}

.product-details {
    margin: 40px;
}

.product-details h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

.product-images {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

.product-images .main-image {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 8px;
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thumbnail-container img {
    width: 100px;
    height: 66px;
    object-fit: cover;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s;
}

.thumbnail-container img:hover {
    transform: scale(1.1);
}

.description {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--light-text-color);
    text-align: center;
}

.price {
    font-size: 2em;
    color: green;
    margin-bottom: 30px;
    text-align: center;
}

button {
        background-color: #028a3d; /* Green */
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s; /* Added transform for animation */
    


    /* padding: 12px 25px; */
    /* font-size: 1em; */
    /* background-color: var(--primary-color); */
    /* color: white; */
    /* border: none; */
    /* border-radius: 5px; */
    /* cursor: pointer; */
    /* transition: background-color 0.3s; */
}

button:hover {
    background-color: #026934; /* Darker green for hover */
    transform: scale(1.05); /* Slight zoom effect on hover */}

.product-reviews {
    margin-top: 40px;
}

.product-reviews h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

.review {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.review p {
    margin: 5px 0;
    color: var(--light-text-color);
    text-align: center;
}

.review strong {
    color: var(--dark-text-color);
}

.additional-info {
    margin-top: 40px;
}

.additional-info h2 {
    font-size: 1.5em;
    margin-bottom: 20px; 
    color: var(--text-color);
    text-align: center;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .header-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-center {
        width: 100%;
        margin: 10px 0;
    }

    .header-center input {
        width: calc(100% - 40px);
        margin: 0 20px;
    }

    .header-right {
        justify-content: flex-end;
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .categories-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links {
        flex-direction: column;
        width: 100%;
    }

    .footer-column {
        margin: 0 0 20px 0;
    }

    .product {
        width: 100%;
        margin: 10px 0;
    }

    .product-details .main-image {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .thumbnail-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .thumbnail-container img {
        width: 60px;
        height: auto;
        margin: 5px;
    }
}
.heart-button {
    background: var(--white);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 5px;
    background-image: url('1.png'); /* Use the second image */
    background-size: cover;
}

.heart-button.filled {
    background-image: url('22.png'); /* Use the first image */
    background-size: cover;
}
/* Style for the Add to Cart button */
.add-to-cart-button {
    background-color: #028a3d; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background-color 0.3s, transform 0.3s; Added transform for animation */
}

.add-to-cart-button:hover {
    background-color: #026934; /* Darker green for hover */
    transform: scale(1.05); /* Slight zoom effect on hover */
}
